<nav class="navbar">
  <div class="sidebar">
    <p (click)="Home()">home</p>
    <p (click)="PressGrafic()">Grafic</p>
    <p (click)="PressTable()">Table</p>
    <p (click)="Cerrar()"> Sign off</p>
  </div>

  <div id="home" style="width: 100vw; margin-left: 11vh; padding: 15px; box-shadow: 0px 0px 5px 2px black; background-color: #D5D8DC;">

    <div style="margin-bottom: 40px;">
      <h1>Report of covid-19 in the world</h1>

      <input class="archivo" type="file" (change)="leerArchivo($event)" />
    </div>
    <hr />

    <h1>State with highest accumulated to date</h1>
    <div *ngIf="stateMax != false">
      <p>The state with the most deaths is {{stateMax[0]}} with {{stateMax[1]}} deaths</p>
    </div>

    <h1>State with the lowest accumulated to date.</h1>
    <p *ngIf="stateMin != false">States that had 0 deaths:</p>
    <div *ngFor="let min of stateMin">
      <ul>
        <li>{{min}}</li>
      </ul>
    </div>

    <h1>State more affect</h1>
    <div *ngIf="stateMin != false" class="cuadro">
      <h1>{{affect[0][0]}}</h1>
      <h3>Because it is the state that has had the most deaths taking into account the amount of population, giving a
        higher range of <strong
          style="background-color: red; border-radius: 10px; padding: 3px;">{{affect[0][1]}}</strong> deaths and its
        population is <strong
          style="background-color: blue;border-radius: 10px; padding: 3px;">{{affect[0][2]}}</strong> </h3>
    </div>
    <hr>

    <div id="contentGrafic">
      <h1>the percentage of total deaths vs. total population by state. <button (click)="Grafic()">see grafic</button>
      </h1>

      <canvas id="myChart"></canvas>
    </div>

    <hr>

    <div id="table">

      <table class="table">
        <thead>
        <tr>
          <th>Country</th>
          <th>number of deaths</th>
          <th>number total population</th>
        </tr>
      </thead>
      
      <tbody *ngFor="let personal of dataSource">
        <tr>
          <td>{{personal.property1}}</td>
          <td>{{personal.property2}}</td>
          <td>{{personal.property3}}</td>
        </tr>
      </tbody>
    </table>
  </div>
    
    
  </div>




</nav>