<nav class="navbar">
  <div class="sidebar">
    <p routerLink="/dashboard">home</p>
    <p>Products</p>
    <p>Contact</p>
    <p (click)="Cerrar()"> Sign off</p>
  </div>

  <div style="width: 80vw; margin-left: 30px;">
    
    <h1>Report of covid-19 in the world</h1>

    <input class="archivo" type="file" (change)="leerArchivo($event)" /> <hr/>

    <table class="table">
      <thead>
        <tr>
          <th>Country</th>
          <th>Numeros total de fallecidos</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
        </tr>
        <tr>
          <td>Jane</td>
          <td>Smith</td>
        </tr>
        <tr>
          <td>Bob</td>
          <td>Johnson</td>
        </tr>
      </tbody>
    </table>
  </div>




</nav>