<nav class="navbar">
  <div class="sidebar">
    <p routerLink="/dashboard">home</p>
    <p>Products</p>
    <p>Contact</p>
    <p (click)="Cerrar()"> Sign off</p>
  </div>

  <div style="width: 80vw; margin-left: 30px;">

    <h1>Report of covid-19 in the world</h1>

    <input class="archivo" type="file" (change)="leerArchivo($event)" />
    <hr />

    <!-- <table class="table">
      <thead>
        <tr>
          <th>Country</th>
          <th>number of deaths</th>
        </tr>
      </thead>
      
      <tbody *ngFor="let personal of dataSource" >
        <tr>
          <td>{{personal.property1}}</td>
          <td>{{personal.property2}}</td>
        </tr>
      </tbody>
    </table> -->

    <h1>State with highest accumulated to date</h1>
    <div *ngIf="stateMax != false">
      <p>El estado con mas muertos es {{stateMax[0]}} con {{stateMax[1]}} muertos</p>
    </div>

    <h1>State with the lowest accumulated to date.</h1>
    <p *ngIf="stateMin != false">los estados que tuvieron 0 son:</p>
    <div *ngFor="let min of stateMin">
      <ul>
        <li>{{min}}</li>
      </ul>
    </div>

    <h1>State more affect</h1>
    <div *ngIf="stateMin != false" class="cuadro">
      <h1>{{stateMax[0]}}</h1>
      <h3>Because it is the state that has had the most deaths taking into account the difference of the other states,
        giving a higher range of {{stateMax[1]}} deaths</h3>
    </div>
    <hr>

    <h1>the percentage of total deaths vs. total population by state. <button (click)="Grafic($event)">see grafic</button></h1>

    <canvas id="myChart"></canvas>

  </div>




</nav>